{% extends 'layout.html' %}

{% block content %}
  <div class="signup-container">
    <h1>SIGN UP</h1>
    <form action="/auth/join" method="post">
      <div class="input-group">
        <label for="nick">이름</label>
        <input id="nick" type="text" name="nick" required>
      </div>
      <div class="input-group">
        <label for="email">이메일</label>
        <input id="email" type="email" name="email" required>
      </div>
      <div class="input-group">
        <label for="password">비밀번호</label>
        <input id="password" type="password" name="password" required>
      </div>
      <div class="input-group">
        <label for="password2">비밀번호 확인</label>
        <input id="password2" type="password" name="password2" required>
      </div>
      <button type="submit" class="btn">회원가입하기</button>
    </form>
    <div class="links">
      <a href="/auth/login">로그인하기</a>
    </div>
  </div>
{% endblock %}
