<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <header>
    <div class="header-container">
      <h1><a href="/">JWA방 - 방을 잡아!</a></h1>
      <nav>
        <a href="/favorites">관심목록</a>
        <a href="/post/new">방 내놓기</a>
        {% if user %}
          <a href="/auth/logout">로그아웃</a>
          <a href="/mypage">마이페이지</a>
        {% else %}
          <a href="/auth/login">로그인</a>
        {% endif %}
      </nav>
    </div>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>&copy; 2024 좌방 - 방을 잡아!</p>
  </footer>
  <script src="/script.js"></script>
</body>
</html>
